__pycache__/
*.py[cod]
build/
dist/
*.egg-info/

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/
coverage

node_modules/
*.local
.vite/

*.db
*.sqlite*

.env
.env.*
!.env.example

.vscode/*
!.vscode/extensions.json
.idea/
*.swp

.DS_Store
Thumbs.db

logs/
*.log